body {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	background-color: #2b4162;
	background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.active {
	  text-decoration: underline;
}

iframe {
width: 962px;
height: 565px;

justify-content:center;
padding-left: auto;
padding-right:auto;
border-color: #12100e;
}






/*------------NAVBAR STYLE------------------------*/
       .nav-link { 
          color: white;
          margin-top: 0px;
          margin-left:0px;
          margin-bottom: 0px;
          text-align: left;      
          }


        #white {
          color: white !important; 
          margin-left:12px; 
          margin-right:12px; 
        }
        
        .navbar {
          background-color: #000000; 
          font-family: Helvetica, Arial, sans-serif;
          font-size: 10pt;
          letter-spacing: 1.2px;
          border-radius: 0px !important;
          margin-bottom: 0px !important;		  
          }

.logo {
  height: 25px;
  width: 25px;
}

.short-text { display: none; }

@media (max-width: 1200px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}

.profile {
float:left; width:250px; margin-right:22px; margin-top:5px; border-radius: 8px;
  display: block;
  max-width: 100%;
  height: auto;
}







/*-----------------FOOTER STYLE-----------------*/
          
          .footer { 
            position:static;
            left: 0;
			bottom:0;
            width: 100%;
            background-color: #000000;
            color: white;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 9pt;
            padding-top: 15px; 
            padding-bottom: 3px;
            height: auto !important; 
                }
          

          /*loghi del footer*/
          .fas, .fab {
            height: auto;
            margin-top:0px;
            margin-bottom: 10px;
			font-size: 24px;
            border: none;
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px;
			color:white;
          } 
          
          #logos{
            text-align: center;
          }

           .copyright {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif; 
            letter-spacing: 2.5px; 
            font-size: 11px; 
            border: none; 
            color: #808080; 
            padding-left: 0px; 
            padding-right: 0px;
          }
		  
		  .copyright p{
		  color: white;
		  font-size:10pt;
		  }


.fas:hover {
  color: #2b4162;
}
.fab:hover {
  color: #2b4162;
}

.title {
	font-size: 22px;
	font-weight: 100;
	font-style: italic;
	font-family: 'Lora';
	letter-spacing: 1.5px;
	text-align: center;
	color:black;
		padding-top: 20px;
	padding-bottom: 20px;
}

.text {
	padding-left: 35px;
	padding-right: 35px;	
	font-size: 16px;
	line-height: 1.75;
	font-weight: 100;
	font-family: 'Lora';
	text-align: justify;
	color:black;
	margin-bottom: 10px;
}

li {
	font-size: 16px;
	line-height: 1.75;
	font-weight: 100;
	font-family: 'Lora';
	color:black;
}
	
.divblock{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: rgba(255,255,255,0.8);

/*background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);*/
max-width: 70%;
margin-left: auto;
margin-right: auto;

  padding: 20px 20px 20px 20px;
  box-shadow: 5px 5px 20px black;
  border-radius: 8px;
}


/*.linkk {
color: #1F2A3C; 
}*/