body {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	background-color: #2b4162;
	background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.active {
	  text-decoration: underline;
}

iframe {
width: 962px;
height: 565px;

justify-content:center;
padding-left: auto;
padding-right:auto;
border-color: #12100e;
}






/*------------NAVBAR STYLE------------------------*/
       .nav-link { 
          color: white;
          margin-top: 0px;
          margin-left:0px;
          margin-bottom: 0px;
          text-align: left;      
          }


        #white {
          color: white !important; 
          margin-left:15px; 
          margin-right:15px; 
        }
        
        .navbar {
          background-color: #000000; 
          font-family: Helvetica, Arial, sans-serif;
          font-size: 10pt;
          letter-spacing: 2.5px;
          border-radius: 0px !important;
          margin-bottom: 0px !important;		  
          }

.logo {
  height: 25px;
  width: 25px;
}










/*-----------------FOOTER STYLE-----------------*/
          
          .footer { 
            position:static;
            left: 0;
			bottom:0;
            width: 100%;
            background-color: #000000;
            color: white;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 9pt;
            padding-top: 15px; 
            padding-bottom: 3px;
            height: auto !important; 
                }
          

          /*loghi del footer*/
          .fas, .fab {
            height: auto;
            margin-top:0px;
            margin-bottom: 10px;
			font-size: 24px;
            border: none;
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px;
			color:white;
          } 
          
          #logos{
            text-align: center;
          }

           .copyright {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif; 
            letter-spacing: 2.5px; 
            font-size: 11px; 
            border: none; 
            color: #808080; 
            padding-left: 0px; 
            padding-right: 0px;
          }
		  
		  .copyright p{
		  color: white;
		  font-size:10pt;
		  }


.fas:hover {
  color: #2b4162;
}
.fab:hover {
  color: #2b4162;
}


.divblock{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
background-color: #CEDCE7;
background-image: linear-gradient(115deg, #CEDCE7 0%, #5D6E78 74%);
max-width: 70%;
margin-left: auto;
margin-right: auto;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
    font-weight: 100;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 1.5px;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 2rem;
  font-weight: 100;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
}